* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
}

nav {
    display: flex;
    height: 100%;
    padding: 40px 30px;
}

nav .logo {
    width: 150px;
    height: 50px;
    margin-left: 50px;
}

nav ul {
    margin-left: 640px;
    padding: 20px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 15px;
}

nav ul li {
    display: inline;
    padding: 20px;
}

.first {
    height: 70vh;
    display: flex;
    margin-bottom: 25px;
}

.first .left {
    width: 50%;
    height: 100%;
    text-align: justify;
    padding: 160px 50px;
}

.left h2 {
    margin-left: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 28px;
}

.left p {
    margin-left: 30px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    padding-top: 20px;
}

.left input {
    width: 320px;
    margin-left: 30px;
    margin-top: 30px;
    padding: 10px 20px;
}

.left button {
    width: 160px;
    height: 40px;
    padding: 10px 20px;
    border: none;
    background-color: #0504aa;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
}

.left button:hover {
    background-color: #448ee4;
}

.first .right {
    width: 50%;
    height: 100%;
}

.illustration {
    width: 90%;
    height: 100%;
    background-image: url('/images/illustration-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/** seconf section **/
#second-section {
    height: 90vh;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-bottom: 50px; */
}

.second {
    display: flex;
    height: 100%;
}

.left1 {
    width: 60%;
    height: 100%;
    padding: 80px 80px;
}

.left1 h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 34px;
}

.p {
    width: 70%;
    margin-top: 20px;
}

.p p {
    text-align: justify;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}

.p p:nth-child(2) {
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    color: green;
}

.card {
    width: 46%;
    height: 49%;
    padding-left: 20px;
    margin-top: 30px;
    background: white;
    box-shadow: 4px 5px 18px #888888;
}

.review {
    display: flex;
    margin-top: 15px;
}

.review img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.review p {
    padding: 10px;
}

.right1 {
    width: 40%;
    height: 100%;
}

.illustration2 {
    width: 80%;
    height: 100%;
    background-image: url(/images/illustration-2.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: contain;
}

/** third **/
.third {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #414375;
}

.left2 {
    width: 50%;
    height: 100%;
    padding: 40px 50px;
    color: white;
}

.left2 h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}

.left2 p {
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
}

.right2 {
    width: 50%;
    height: 100%;
    padding: 40px 40px;
}

.right2-container {
    width: 50%;
    height: 100%;
}

.right2-container input {
    width: 390px;
    padding: 10px 10px;
}

.right2-container button {
    width: 150px;
    margin-top: 15px;
    padding: 10px 10px;
    border: 1px solid #0504aa;
    border-radius: 5px;
    background-color: #0504aa;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
}

.right2 button:hover {
    background-color: #448ee4;
    border: 1px solid #448ee4;
}

/* fourth */
.fourth {
    width: 100%;
    height: 50vh;
    background: #001146;
}

.fourth img {
    width: 13%;
    margin-left: 60px;
    margin-top: 80px;
    color: white;
}

.ul1 {
    margin-left: 60px;
    margin-top: 20px;
    list-style: none;
    color: white;
    line-height: 25px;
}

.ul2 {
    margin-left: 500px;
    margin-top: -55px;
    line-height: 30px;
    list-style: none;
    color: white;
}

.ul3 {
    margin-top: -120px;
    margin-left: 800px;
    line-height: 30px;
    list-style: none;
    color: white;
}